.about .content {
    border-right: 1px solid #A5B4FC;
    border-bottom: 1px solid #A5B4FC;
    padding: 10px;
}

.about ul {
    list-style-position: inside;
}

.about table {
    color: var(--secondaryColor);
    border-collapse: collapse;
    text-align: center;
}

.about caption {
    margin: 20px;
}

th,td {
    border: 1px solid var(--secondaryColor);
    padding: 2px;
}